@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
@layer components {
  .menu__item--active {
    @apply bg-indigo-500 hover:bg-indigo-500;
  }
  .menu__item--active img {
    @apply brightness-0 invert;
  }
  .cover__hidden {
    @apply hidden;
  }
  .icon__active {
    @apply bg-indigo-500;
  }
  .icon__active img {
    @apply brightness-0 invert;
  }
}

@layer utilities {
  .cover__hidden {
    @apply hidden;
  }
}
